In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf
from pandas_datareader import data as pdr
import seaborn as sns
import openpyxl
sns.set_style('whitegrid')
yf.pdr_override()

In [2]:
#carteira com 5 ETF:
class Cart_5_etf:
    def __init__(self, etf_1,etf_2, etf_3, etf_4, etf_5, start, end):
        
        self.etf_1 = etf_1
        self.etf_2 = etf_2
        self.etf_3 = etf_3
        self.etf_4 = etf_4
        self.etf_5 = etf_5
        self.start = start
        self.end = end
       
        
    def pegar_cotacao(self):
        acao = [self.etf_1,self.etf_2, self.etf_3, etf_4, self.etf_5]
        download = pdr.get_data_yahoo(acao, start= self.start, end= self.end)
        return download['Adj Close']
    
    def calcular_retorno(self):
        acao = [self.etf_1, self.etf_2, self.etf_3, self.etf_4, self.etf_5]
        adj_close = pd.DataFrame()
        for i in acao:
            
            adj_close[i] = pdr.get_data_yahoo(i, start= self.start, end= self.end)['Adj Close']
        
        carteira_retorno= adj_close.diff() / adj_close.shift(1)
        retorno_medio = carteira_retorno.mean()
        carteira_retorno2 = adj_close.iloc[-1] / adj_close.iloc[0] - 1
        
        return carteira_retorno2
    def calcular_cov(self):
        
        acao = [self.etf_1, self.etf_2, self.etf_3, self.etf_4, self.etf_5]
        matrix_cov = pd.DataFrame()
        
        for i in acao:
            
            matrix_cov[i] = pdr.get_data_yahoo(i, start= self.start, end= self.end)['Adj Close']
        
        carteira_retorno= matrix_cov.diff() / matrix_cov.shift(1)
        cov = carteira_retorno.cov()
    
        return cov
    
    def calcular_corr(self):
        
        acao = [self.etf_1, self.etf_2, self.etf_3, self.etf_4, self.etf_5]
        matrix_corr = pd.DataFrame()
        
        for i in acao:
            
            matrix_corr[i] = pdr.get_data_yahoo(i, start= self.start, end= self.end)['Adj Close']
        
        carteira_retorno= matrix_corr.diff() / matrix_corr.shift(1)
        cov = carteira_retorno.corr()
    
        return cov

In [3]:
#carteira com 4 ETF:
class Cart_4_etf:
    def __init__(self, etf_1,etf_2, etf_3, etf_4, start, end):
        
        self.etf_1 = etf_1
        self.etf_2 = etf_2
        self.etf_3 = etf_3
        self.etf_4 = etf_4
        self.start = start
        self.end = end
       
        
    def pegar_cotacao(self):
        acao = [self.etf_1,self.etf_2, self.etf_3, self.etf_4]
        download = pdr.get_data_yahoo(acao, start= self.start, end= self.end)
        return download['Adj Close']
    
    def calcular_retorno(self):
        acao = [self.etf_1, self.etf_2, self.etf_3, self.etf_4]
        adj_close = pd.DataFrame()
        for i in acao:
            
            adj_close[i] = pdr.get_data_yahoo(i, start= self.start, end= self.end)['Adj Close']
        
        carteira_retorno= adj_close.diff() / adj_close.shift(1)
        retorno_medio = carteira_retorno.mean()
        carteira_retorno2 = adj_close.iloc[-1] / adj_close.iloc[0] - 1
        
        return carteira_retorno2
   
    def calcular_cov(self):
        
        acao = [self.etf_1, self.etf_2, self.etf_3, self.etf_4]
        matrix_cov = pd.DataFrame()
        
        for i in acao:
            
            matrix_cov[i] = pdr.get_data_yahoo(i, start= self.start, end= self.end)['Adj Close']
        
        carteira_retorno= matrix_cov.diff() / matrix_cov.shift(1)
        cov = carteira_retorno.cov()
    
        return cov
    
    def calcular_corr(self):
        
        acao = [self.etf_1, self.etf_2, self.etf_3, self.etf_4]
        matrix_corr = pd.DataFrame()
        
        for i in acao:
            
            matrix_corr[i] = pdr.get_data_yahoo(i, start= self.start, end= self.end)['Adj Close']
        
        carteira_retorno= matrix_corr.diff() / matrix_corr.shift(1)
        corr = carteira_retorno.corr()
    
        return corr

In [4]:
#carteira com 3 ETF:
class Cart_3_etf:
    def __init__(self, etf_1,etf_2, etf_3, start, end):
        
        self.etf_1 = etf_1
        self.etf_2 = etf_2
        self.etf_3 = etf_3
        self.start = start
        self.end = end
       
        
    def pegar_cotacao(self):
        acao = [self.etf_1,self.etf_2, self.etf_3]
        download = pdr.get_data_yahoo(acao, start= self.start, end= self.end)
        return download['Adj Close']
    
    def calcular_retorno(self):
        acao = [self.etf_1, self.etf_2, self.etf_3]
        adj_close = pd.DataFrame()
        for i in acao:
            
            adj_close[i] = pdr.get_data_yahoo(i, start= self.start, end= self.end)['Adj Close']
        
        carteira_retorno= adj_close.diff() / adj_close.shift(1)
        retorno_medio = carteira_retorno.mean()
        carteira_retorno2 = adj_close.iloc[-1] / adj_close.iloc[0] - 1
        
        return carteira_retorno2

    def calcular_cov(self):
        
        acao = [self.etf_1, self.etf_2, self.etf_3]
        matrix_cov = pd.DataFrame()
        
        for i in acao:
            
            matrix_cov[i] = pdr.get_data_yahoo(i, start= self.start, end= self.end)['Adj Close']
        
        carteira_retorno= matrix_cov.diff() / matrix_cov.shift(1)
        cov = carteira_retorno.cov()
    
        return cov
    
    def calcular_corr(self):
        
        acao = [self.etf_1, self.etf_2, self.etf_3]
        matrix_corr = pd.DataFrame()
        
        for i in acao:
            
            matrix_corr[i] = pdr.get_data_yahoo(i, start= self.start, end= self.end)['Adj Close']
        
        carteira_retorno= matrix_corr.diff() / matrix_corr.shift(1)
        cov = carteira_retorno.corr()
    
        return cov

In [5]:
#carteira com 2 ETF:
class Cart_2_etf:
    def __init__(self, etf_1,etf_2, start, end):
        
        self.etf_1 = etf_1
        self.etf_2 = etf_2
        self.start = start
        self.end = end
       
        
    def pegar_cotacao(self):
        acao = [self.etf_1,self.etf_2]
        download = pdr.get_data_yahoo(acao, start= self.start, end= self.end)
        return download['Adj Close']
    
    def calcular_retorno(self):
        acao = [self.etf_1, self.etf_2]
        adj_close = pd.DataFrame()
        for i in acao:
            
            adj_close[i] = pdr.get_data_yahoo(i, start= self.start, end= self.end)['Adj Close']
        
        carteira_retorno= adj_close.diff() / adj_close.shift(1)
        retorno_medio = carteira_retorno.mean()
        carteira_retorno2 = adj_close.iloc[-1] / adj_close.iloc[0] - 1
        
        return carteira_retorno2
    

    def calcular_cov(self):
        
        acao = [self.etf_1, self.etf_2]
        matrix_cov = pd.DataFrame()
        
        for i in acao:
            
            matrix_cov[i] = pdr.get_data_yahoo(i, start= self.start, end= self.end)['Adj Close']
        
        carteira_retorno= matrix_cov.diff() / matrix_cov.shift(1)
        cov = carteira_retorno.cov()
    
        return cov
    
    def calcular_corr(self):
        
        acao = [self.etf_1, self.etf_2]
        matrix_corr = pd.DataFrame()
        
        for i in acao:
            
            matrix_corr[i] = pdr.get_data_yahoo(i, start= self.start, end= self.end)['Adj Close']
        
        carteira_retorno= matrix_corr.diff() / matrix_corr.shift(1)
        cov = carteira_retorno.corr()
    
        return cov

In [6]:
#carteira com 1 ETF:
class Cart_1_etf:
    def __init__(self, etf_1, start, end):
        
        self.etf_1 = etf_1
        self.start = start
        self.end = end
       
        
    def pegar_cotacao(self):
        acao = [self.etf_1]
        download = pdr.get_data_yahoo(acao, start= self.start, end= self.end)
        return download['Adj Close']
    
    def calcular_retorno(self):
        acao = [self.etf_1]
        adj_close = pd.DataFrame()
        for i in acao:
            
            adj_close[i] = pdr.get_data_yahoo(i, start= self.start, end= self.end)['Adj Close']
        
        carteira_retorno= adj_close.diff() / adj_close.shift(1)
        retorno_medio = carteira_retorno.mean()
        carteira_retorno2 = adj_close.iloc[-1] / adj_close.iloc[0] - 1
        
        return carteira_retorno2

In [7]:
# Primeira semana de agosto
acoes_1_semana = Cart_4_etf('XLI','XLK','GLD','EWJ','2021-08-09','2021-08-14')


pesos = np.array([0.00024,0.00024,0.00024,0.00024])

#calculo do retorno acumulado na semana
retorno_semana = np.dot(acoes_1_semana.calcular_retorno(), pesos)

#calculo da covariança e correlacao

matrix_covarianca = acoes_1_semana.calcular_cov()*5

matrix_correlacao = acoes_1_semana.calcular_corr()

port_var = np.dot(pesos.T, np.dot(matrix_covarianca, pesos))
port_vol = port_var**0.5




print("")
print(f'retorno da semana: {retorno_semana}')
print("")

print("")
print(f'variança do portifolio: {port_var}')
print("")

print("")
print(f'volatilidade do portifolio: {port_vol*100}%')
print("")


display(matrix_covarianca)

display(matrix_correlacao)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

retorno da semana: 1.5306980665913467e-05


variança do portifolio: 8.968922701865137e-11


volatilidade do portifolio: 0.0009470439642310771%

          XLI       XLK       GLD       EWJ
XLI  0.000338 -0.000197  0.000011  0.000176
XLK -0.000197  0.000184  0.000082 -0.000030
GLD  0.000011  0.000082  0.000317  0.000205
EWJ  0.000176 -0.000030  0.000205  0.000224

          XLI       XLK       GLD       EWJ
XLI  1.000000 -0.790454  0.033846  0.641025
XLK -0.790454  1.000000  0.341821 -0.150144
GLD  0.033846  0.341821  1.000000  0.771147
EWJ  0.641025 -0.150144  0.771147  1.000000

In [8]:
# segunda semana de agosto
acoes_2_semana = Cart_4_etf('XLI','XLK','GLD','EWJ','2021-08-16','2021-08-21')


pesos = np.array([0.000247,0.000233,0.000277,0.000243])

#calculo do retorno acumulado na semana
retorno_semana = np.dot(acoes_2_semana.calcular_retorno(), pesos)

#calculo da covariança e correlacao

matrix_covarianca = acoes_2_semana.calcular_cov()*5

matrix_correlacao = acoes_2_semana.calcular_corr()

port_var = np.dot(pesos.T, np.dot(matrix_covarianca, pesos))
port_vol = port_var**0.5


print("")
print(f'retorno da semana: {retorno_semana}')
print("")

print("")
print(f'variança do portifolio: {port_var}')
print("")

print("")
print(f'volatilidade do portifolio: {port_vol*100}%')
print("")


display(matrix_covarianca)

display(matrix_correlacao)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

retorno da semana: -1.2569164877129695e-05


variança do portifolio: 1.348959440390183e-10


volatilidade do portifolio: 0.0011614471319824173%

          XLI       XLK       GLD       EWJ
XLI  0.000203  0.000350  0.000015  0.000117
XLK  0.000350  0.000867 -0.000033  0.000101
GLD  0.000015 -0.000033  0.000016  0.000032
EWJ  0.000117  0.000101  0.000032  0.000106

          XLI       XLK       GLD       EWJ
XLI  1.000000  0.832932  0.275107  0.795012
XLK  0.832932  1.000000 -0.282059  0.332822
GLD  0.275107 -0.282059  1.000000  0.799717
EWJ  0.795012  0.332822  0.799717  1.000000

In [9]:
# terceira semana de agosto
acoes_3_semana = Cart_4_etf('XLI','XLE','GLD','EWJ','2021-08-23','2021-08-28')


pesos = np.array([0.0002471,0.0002337,0.0002768,0.0002434])

#calculo do retorno acumulado na semana
retorno_semana = np.dot(acoes_3_semana.calcular_retorno(), pesos)

#calculo da covariança e correlacao

matrix_covarianca = acoes_3_semana.calcular_cov()*5

matrix_correlacao = acoes_3_semana.calcular_corr()

port_var = np.dot(pesos.T, np.dot(matrix_covarianca, pesos))
port_vol = port_var**0.5


print("")
print(f'retorno da semana: {retorno_semana}')
print("")

print("")
print(f'variança do portifolio: {port_var}')
print("")

print("")
print(f'volatilidade do portifolio: {port_vol*100}%')
print("")


display(matrix_covarianca)

display(matrix_correlacao)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

retorno da semana: 1.63287866158947e-05


variança do portifolio: 3.4383699710709597e-10


volatilidade do portifolio: 0.0018542842206821907%

          XLI       XLE       GLD       EWJ
XLI  0.000142  0.000431  0.000035  0.000120
XLE  0.000431  0.001592  0.000407  0.000529
GLD  0.000035  0.000407  0.000427  0.000147
EWJ  0.000120  0.000529  0.000147  0.000230

          XLI       XLE       GLD       EWJ
XLI  1.000000  0.907856  0.143562  0.667575
XLE  0.907856  1.000000  0.493584  0.874776
GLD  0.143562  0.493584  1.000000  0.469817
EWJ  0.667575  0.874776  0.469817  1.000000

In [10]:
# quarta semana de agosto
acoes_4_semana = Cart_4_etf('XLI','TLT','GLD','EWJ','2021-08-30','2021-09-04')


pesos = np.array([0.0002470, 0.0000818, 0.0002767,0.0002433])

#calculo do retorno acumulado na semana
retorno_semana = np.dot(acoes_4_semana.calcular_retorno(), pesos)

#calculo da covariança e correlacao

matrix_covarianca = acoes_4_semana.calcular_cov()*5

matrix_correlacao = acoes_4_semana.calcular_corr()

port_var = np.dot(pesos.T, np.dot(matrix_covarianca, pesos))
port_vol = port_var**0.5


print("")
print(f'retorno da semana: {retorno_semana}')
print("")

print("")
print(f'variança do portifolio: {port_var}')
print("")

print("")
print(f'volatilidade do portifolio: {port_vol*100}%')
print("")


display(matrix_covarianca)

display(matrix_correlacao)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

retorno da semana: 1.4971098760135879e-05


variança do portifolio: 4.2132687589161325e-11


volatilidade do portifolio: 0.0006490969695597209%

          XLI       TLT       GLD       EWJ
XLI  0.000290  0.000183 -0.000158 -0.000289
TLT  0.000183  0.000211 -0.000162 -0.000187
GLD -0.000158 -0.000162  0.000166  0.000275
EWJ -0.000289 -0.000187  0.000275  0.000624

          XLI       TLT       GLD       EWJ
XLI  1.000000  0.740718 -0.716605 -0.679577
TLT  0.740718  1.000000 -0.866881 -0.515735
GLD -0.716605 -0.866881  1.000000  0.852631
EWJ -0.679577 -0.515735  0.852631  1.000000

In [11]:
# quinta semana de agosto
acoes_5_semana = Cart_4_etf('XLI','TLT','GLD','EWJ','2021-09-07','2021-09-10')


pesos = np.array([0.0002468, 0.00008176, 0.0002765,0.0002431])

#calculo do retorno acumulado na semana
retorno_semana = np.dot(acoes_5_semana.calcular_retorno(), pesos)

#calculo da covariança e correlacao

matrix_covarianca = acoes_5_semana.calcular_cov()*4

matrix_correlacao = acoes_5_semana.calcular_corr()

port_var = np.dot(pesos.T, np.dot(matrix_covarianca, pesos))
port_vol = port_var**0.5


print("")
print(f'retorno da semana: {retorno_semana}')
print("")

print("")
print(f'variança do portifolio: {port_var}')
print("")

print("")
print(f'volatilidade do portifolio: {port_vol*100}%')
print("")


display(matrix_covarianca)

display(matrix_correlacao)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

retorno da semana: 2.3212384098449537e-06


variança do portifolio: 3.208386418096343e-11


volatilidade do portifolio: 0.0005664262015564201%

          XLI       TLT       GLD       EWJ
XLI  0.000077 -0.000066 -0.000086 -0.000163
TLT -0.000066  0.000056  0.000073  0.000139
GLD -0.000086  0.000073  0.000096  0.000182
EWJ -0.000163  0.000139  0.000182  0.000345

     XLI  TLT  GLD  EWJ
XLI  1.0 -1.0 -1.0 -1.0
TLT -1.0  1.0  1.0  1.0
GLD -1.0  1.0  1.0  1.0
EWJ -1.0  1.0  1.0  1.0

In [12]:
# sexta semana de agosto
acoes_6_semana = Cart_4_etf('XLI','TLT','GLD','EWJ','2021-09-13','2021-09-18')


pesos = np.array([0.0002466, 0.00008169, 0.0002763,0.0002429])

#calculo do retorno acumulado na semana
retorno_semana = np.dot(acoes_6_semana.calcular_retorno(), pesos)

#calculo da covariança e correlacao

matrix_covarianca = acoes_6_semana.calcular_cov()*5

matrix_correlacao = acoes_6_semana.calcular_corr()

port_var = np.dot(pesos.T, np.dot(matrix_covarianca, pesos))
port_vol = port_var**0.5


print("")
print(f'retorno da semana: {retorno_semana}')
print("")

print("")
print(f'variança do portifolio: {port_var}')
print("")

print("")
print(f'volatilidade do portifolio: {port_vol*100}%')
print("")


display(matrix_covarianca)

display(matrix_correlacao)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

retorno da semana: -1.2444191106593486e-05


variança do portifolio: 1.3262279187077346e-10


volatilidade do portifolio: 0.001151619693608847%

          XLI       TLT       GLD       EWJ
XLI  0.000567 -0.000176 -0.000132  0.000403
TLT -0.000176  0.000339  0.000342 -0.000097
GLD -0.000132  0.000342  0.000752 -0.000100
EWJ  0.000403 -0.000097 -0.000100  0.000292

          XLI       TLT       GLD       EWJ
XLI  1.000000 -0.401058 -0.202961  0.990073
TLT -0.401058  1.000000  0.678512 -0.309566
GLD -0.202961  0.678512  1.000000 -0.214010
EWJ  0.990073 -0.309566 -0.214010  1.000000

In [13]:
# sétima semana de agosto
acoes_7_semana = Cart_4_etf('XLI','TLT','GLD','EWJ','2021-09-20','2021-09-25')


pesos = np.array([0.0002465, 0.00008166, 0.0002762,0.0002428])

#calculo do retorno acumulado na semana
retorno_semana = np.dot(acoes_7_semana.calcular_retorno(), pesos)
#calculo da covariança e correlacao

matrix_covarianca = acoes_7_semana.calcular_cov()*5

matrix_correlacao = acoes_7_semana.calcular_corr()

port_var = np.dot(pesos.T, np.dot(matrix_covarianca, pesos))
port_vol = port_var**0.5


print("")
print(f'retorno da semana: {retorno_semana}')
print("")

print("")
print(f'variança do portifolio: {port_var}')
print("")

print("")
print(f'volatilidade do portifolio: {port_vol*100}%')
print("")


display(matrix_covarianca)

display(matrix_correlacao)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

retorno da semana: 9.661958989772976e-07


variança do portifolio: 1.520156104181736e-11


volatilidade do portifolio: 0.00038989179321726386%

          XLI       TLT       GLD       EWJ
XLI  0.000382 -0.000297 -0.000325 -0.000073
TLT -0.000297  0.000761  0.000297 -0.000201
GLD -0.000325  0.000297  0.000282  0.000058
EWJ -0.000073 -0.000201  0.000058  0.000291

          XLI       TLT       GLD       EWJ
XLI  1.000000 -0.550622 -0.989787 -0.218306
TLT -0.550622  1.000000  0.640953 -0.427150
GLD -0.989787  0.640953  1.000000  0.201643
EWJ -0.218306 -0.427150  0.201643  1.000000

In [14]:
# oitava semana de agosto
acoes_8_semana = Cart_4_etf('XLI','TLT','GLD','EWJ','2021-09-27','2021-10-02')


pesos = np.array([0.0002464, 0.00008161, 0.0002760,0.0002427])

#calculo do retorno acumulado na semana
retorno_semana = np.dot(acoes_8_semana.calcular_retorno(), pesos)

#calculo da covariança e correlacao

matrix_covarianca = acoes_8_semana.calcular_cov()*5

matrix_correlacao = acoes_8_semana.calcular_corr()

port_var = np.dot(pesos.T, np.dot(matrix_covarianca, pesos))
port_vol = port_var**0.5


print("")
print(f'retorno da semana: {retorno_semana}')
print("")

print("")
print(f'variança do portifolio: {port_var}')
print("")

print("")
print(f'volatilidade do portifolio: {port_vol*100}%')
print("")


display(matrix_covarianca)

display(matrix_correlacao)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

retorno da semana: -1.2109465951011155e-05


variança do portifolio: 2.1594034034584878e-10


volatilidade do portifolio: 0.001469490865387903%

          XLI       TLT       GLD       EWJ
XLI  0.001116  0.000461 -0.000341  0.000401
TLT  0.000461  0.000515  0.000281  0.000412
GLD -0.000341  0.000281  0.000723  0.000118
EWJ  0.000401  0.000412  0.000118  0.000420

          XLI       TLT       GLD       EWJ
XLI  1.000000  0.608138 -0.379303  0.585983
TLT  0.608138  1.000000  0.459997  0.886473
GLD -0.379303  0.459997  1.000000  0.214206
EWJ  0.585983  0.886473  0.214206  1.000000

In [15]:
# 9 semana de agosto
acoes_9_semana = Cart_4_etf('XLI','TLT','GLD','EWJ','2021-10-04','2021-10-09')


pesos = np.array([0.0002464, 0.0000815, 0.0002760,0.0002424])

#calculo do retorno acumulado na semana
retorno_semana = np.dot(acoes_9_semana.calcular_retorno(), pesos)

#calculo da covariança e correlacao

matrix_covarianca = acoes_9_semana.calcular_cov()*5

matrix_correlacao = acoes_9_semana.calcular_corr()

port_var = np.dot(pesos.T, np.dot(matrix_covarianca, pesos))
port_vol = port_var**0.5


print("")
print(f'retorno da semana: {retorno_semana}')
print("")

print("")
print(f'variança do portifolio: {port_var}')
print("")

print("")
print(f'volatilidade do portifolio: {port_vol*100}%')
print("")


display(matrix_covarianca)

display(matrix_correlacao)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

retorno da semana: 1.6781350697828667e-06


variança do portifolio: 1.1642719026471352e-11


volatilidade do portifolio: 0.00034121428789649696%

          XLI       TLT       GLD       EWJ
XLI  0.000116 -0.000065 -0.000069  0.000134
TLT -0.000065  0.000280  0.000126 -0.000235
GLD -0.000069  0.000126  0.000075 -0.000141
EWJ  0.000134 -0.000235 -0.000141  0.000264

          XLI       TLT       GLD       EWJ
XLI  1.000000 -0.358686 -0.742454  0.764508
TLT -0.358686  1.000000  0.866945 -0.862282
GLD -0.742454  0.866945  1.000000 -0.998426
EWJ  0.764508 -0.862282 -0.998426  1.000000

In [16]:

acoes_10_semana = Cart_3_etf('XLE','GLD','EWG','2021-10-12','2021-10-16')


pesos = np.array([0.2492, 0.3916, 0.2430])

#calculo do retorno acumulado na semana
retorno_semana = np.dot(acoes_10_semana.calcular_retorno(), pesos)

#calculo da covariança e correlacao

matrix_covarianca = acoes_10_semana.calcular_cov()*5

matrix_correlacao = acoes_10_semana.calcular_corr()

port_var = np.dot(pesos.T, np.dot(matrix_covarianca, pesos))
port_vol = port_var**0.5


print("")
print(f'retorno da semana: {retorno_semana*100}%')
print("")

print("")
print(f'variança do portifolio: {port_var}')
print("")

print("")
print(f'volatilidade do portifolio: {port_vol*100}%')
print("")


display(matrix_covarianca)

display(matrix_correlacao)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

retorno da semana: 1.3951953840689337%


variança do portifolio: 0.000236022147308729


volatilidade do portifolio: 1.5363012312327586%

          XLE       GLD       EWG
XLE  0.000216 -0.000218 -0.000001
GLD -0.000218  0.001422  0.000234
EWG -0.000001  0.000234  0.000045

          XLE       GLD       EWG
XLE  1.000000 -0.393783 -0.011631
GLD -0.393783  1.000000  0.923721
EWG -0.011631  0.923721  1.000000

In [17]:

acoes_11_semana = Cart_3_etf('XLU','XLV','EWG','2021-10-18','2021-10-21')


pesos = np.array([0.1502, 0.3131, 0.2395])

#calculo do retorno acumulado na semana
retorno_semana = np.dot(acoes_11_semana.calcular_retorno(), pesos)

#calculo da covariança e correlacao

matrix_covarianca = acoes_11_semana.calcular_cov()*5

matrix_correlacao = acoes_11_semana.calcular_corr()

port_var = np.dot(pesos.T, np.dot(matrix_covarianca, pesos))
port_vol = port_var**0.5


print("")
print(f'retorno da semana: {retorno_semana*100}%')
print("")

print("")
print(f'variança do portifolio: {port_var}')
print("")

print("")
print(f'risco do portifolio: {port_vol*100}%')
print("")


display(matrix_covarianca)

display(matrix_correlacao)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

retorno da semana: 1.4230097744052357%


variança do portifolio: 1.7405545190945782e-07


risco do portifolio: 0.04171995348864352%

          XLU       XLV       EWG
XLU  0.000025  0.000009 -0.000019
XLV  0.000009  0.000003 -0.000007
EWG -0.000019 -0.000007  0.000014

     XLU  XLV  EWG
XLU  1.0  1.0 -1.0
XLV  1.0  1.0 -1.0
EWG -1.0 -1.0  1.0

In [18]:
acoes_12_semana = Cart_3_etf('XLF','XLU','XLV','2021-10-25','2021-10-30')


pesos = np.array([0.2948, 0.2555, 0.3087])

#calculo do retorno acumulado na semana
retorno_semana = np.dot(acoes_12_semana.calcular_retorno(), pesos)

#calculo da covariança e correlacao

matrix_covarianca = acoes_12_semana.calcular_cov()*5

matrix_correlacao = acoes_12_semana.calcular_corr()

port_var = np.dot(pesos.T, np.dot(matrix_covarianca, pesos))
port_vol = port_var**0.5


print("")
print(f'retorno da semana: {retorno_semana*100}%')
print("")

print("")
print(f'variança do portifolio: {port_var}')
print("")

print("")
print(f'risco do portifolio: {port_vol*100}%')
print("")


display(matrix_covarianca)

display(matrix_correlacao)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

retorno da semana: 0.22165155276310158%


variança do portifolio: 0.000253270570732353


risco do portifolio: 1.5914476765899437%

          XLF       XLU       XLV
XLF  0.000709  0.000362  0.000378
XLU  0.000362  0.000253  0.000132
XLV  0.000378  0.000132  0.000325

          XLF       XLU       XLV
XLF  1.000000  0.854474  0.787713
XLU  0.854474  1.000000  0.460349
XLV  0.787713  0.460349  1.000000

In [19]:
acoes_13_semana = Cart_4_etf('SPY','XLF','XLK','XLV','2021-11-01','2021-11-06')


pesos = np.array([0.2213, 0.2933, 0.1553, 0.2089])

#calculo do retorno acumulado na semana
retorno_semana = np.dot(acoes_13_semana.calcular_retorno(), pesos)

#calculo da covariança e correlacao

matrix_covarianca = acoes_13_semana.calcular_cov()*5

matrix_correlacao = acoes_13_semana.calcular_corr()

port_var = np.dot(pesos.T, np.dot(matrix_covarianca, pesos))
port_vol = port_var**0.5


print("")
print(f'retorno da semana: {retorno_semana*100}%')
print("")

print("")
print(f'variança do portifolio: {port_var}')
print("")

print("")
print(f'risco do portifolio: {port_vol*100}%')
print("")


display(matrix_covarianca)

display(matrix_correlacao)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

retorno da semana: 0.6515535086008128%


variança do portifolio: 5.4349629053352625e-05


risco do portifolio: 0.7372220089861169%

              SPY       XLF           XLK       XLV
SPY  6.442137e-06  0.000003  6.888746e-07  0.000028
XLF  3.435280e-06  0.000302 -1.697733e-04  0.000187
XLK  6.888746e-07 -0.000170  1.145284e-04 -0.000039
XLV  2.847516e-05  0.000187 -3.923306e-05  0.000395

          SPY       XLF       XLK       XLV
SPY  1.000000  0.077918  0.025361  0.564202
XLF  0.077918  1.000000 -0.913274  0.542129
XLK  0.025361 -0.913274  1.000000 -0.184365
XLV  0.564202  0.542129 -0.184365  1.000000

In [20]:
acoes_14_semana = Cart_2_etf('XLF','XLI','2021-11-08','2021-11-13')


pesos = np.array([0.2915, 0.3077])

#calculo do retorno acumulado na semana
retorno_semana = np.dot(acoes_14_semana.calcular_retorno(), pesos)

#calculo da covariança e correlacao

matrix_covarianca = acoes_14_semana.calcular_cov()*5

matrix_correlacao = acoes_14_semana.calcular_corr()

port_var = np.dot(pesos.T, np.dot(matrix_covarianca, pesos))
port_vol = port_var**0.5


print("")
print(f'retorno da semana: {retorno_semana*100}%')
print("")

print("")
print(f'variança do portifolio: {port_var}')
print("")

print("")
print(f'risco do portifolio: {port_vol*100}%')
print("")


display(matrix_covarianca)

display(matrix_correlacao)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

retorno da semana: -0.04503431431114053%


variança do portifolio: 2.5648788632132812e-05


risco do portifolio: 0.5064463311362104%

          XLF       XLI
XLF  0.000074  0.000005
XLI  0.000005  0.000196

          XLF       XLI
XLF  1.000000  0.038726
XLI  0.038726  1.000000

In [21]:
acoes_15_semana = Cart_3_etf('XLF','XLI','GLD','2021-11-15','2021-11-20')


pesos = np.array([0.2905, 0.3066, 0.3316])

#calculo do retorno acumulado na semana
retorno_semana = np.dot(acoes_15_semana.calcular_retorno(), pesos)

#calculo da covariança e correlacao

matrix_covarianca = acoes_15_semana.calcular_cov()*5

matrix_correlacao = acoes_15_semana.calcular_corr()

port_var = np.dot(pesos.T, np.dot(matrix_covarianca, pesos))
port_vol = port_var**0.5


print("")
print(f'retorno da semana: {retorno_semana*100}%')
print("")

print("")
print(f'variança do portifolio: {port_var}')
print("")

print("")
print(f'risco do portifolio: {port_vol*100}%')
print("")


display(matrix_covarianca)

display(matrix_correlacao)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

retorno da semana: -1.5086865588198564%


variança do portifolio: 2.7204115852366633e-05


risco do portifolio: 0.521575649856918%

          XLF       XLI       GLD
XLF  0.000125  0.000070 -0.000103
XLI  0.000070  0.000039 -0.000067
GLD -0.000103 -0.000067  0.000308

          XLF       XLI       GLD
XLF  1.000000  0.995245 -0.523840
XLI  0.995245  1.000000 -0.604167
GLD -0.523840 -0.604167  1.000000

In [22]:
acoes_16_semana = Cart_3_etf('XLB','XLU','XLY','2021-11-22','2021-11-27')


pesos = np.array([0.2137, 0.4231, 0.3089])

#calculo do retorno acumulado na semana
retorno_semana = np.dot(acoes_16_semana.calcular_retorno(), pesos)

#calculo da covariança e correlacao

matrix_covarianca = acoes_16_semana.calcular_cov()*5

matrix_correlacao = acoes_16_semana.calcular_corr()

port_var = np.dot(pesos.T, np.dot(matrix_covarianca, pesos))
port_vol = port_var**0.5


print("")
print(f'retorno da semana: {retorno_semana*100}%')
print("")

print("")
print(f'variança do portifolio: {port_var}')
print("")

print("")
print(f'risco do portifolio: {port_vol*100}%')
print("")


display(matrix_covarianca)

display(matrix_correlacao)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

retorno da semana: -2.0878686980850665%


variança do portifolio: 0.000517066997754538


risco do portifolio: 2.273910723301462%

          XLB       XLU       XLY
XLB  0.000415  0.000392  0.000486
XLU  0.000392  0.000451  0.000671
XLY  0.000486  0.000671  0.001122

          XLB       XLU       XLY
XLB  1.000000  0.905124  0.712043
XLU  0.905124  1.000000  0.942999
XLY  0.712043  0.942999  1.000000

In [7]:
acoes_17_semana = Cart_1_etf('TLT','2021-11-29','2021-12-04')


pesos = np.array([0.4458])

#calculo do retorno acumulado na semana
retorno_semana = np.dot(acoes_17_semana.calcular_retorno(), pesos)

#calculo da covariança e correlacao

print("")
print(f'retorno da semana: {retorno_semana*100}%')
print("")

[*********************100%***********************]  1 of 1 completed

retorno da semana: 1.5577242552859758%

In [24]:
acoes_18_semana = Cart_4_etf('SPY','XLB','XLP','TLT','2021-12-06','2021-12-11')


pesos = np.array([0.2063, 0.2073, 0.2458, 0.1499])

#calculo do retorno acumulado na semana
retorno_semana = np.dot(acoes_18_semana.calcular_retorno(), pesos)

#calculo da covariança e correlacao

matrix_covarianca = acoes_18_semana.calcular_cov()*5

matrix_correlacao = acoes_18_semana.calcular_corr()

port_var = np.dot(pesos.T, np.dot(matrix_covarianca, pesos))
port_vol = port_var**0.5


print("")
print(f'retorno da semana: {retorno_semana*100}%')
print("")

print("")
print(f'variança do portifolio: {port_var}')
print("")

print("")
print(f'risco do portifolio: {port_vol*100}%')
print("")


display(matrix_covarianca)

display(matrix_correlacao)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

retorno da semana: 1.081207717837152%


variança do portifolio: 0.00011741737577857337


risco do portifolio: 1.0835929852974011%

          SPY       XLB       XLP       TLT
SPY  0.000667  0.000486  0.000093 -0.000215
XLB  0.000486  0.000364  0.000025 -0.000218
XLP  0.000093  0.000025  0.000366  0.000191
TLT -0.000215 -0.000218  0.000191  0.000464

          SPY       XLB       XLP       TLT
SPY  1.000000  0.986585  0.188999 -0.387313
XLB  0.986585  1.000000  0.069230 -0.530091
XLP  0.188999  0.069230  1.000000  0.464857
TLT -0.387313 -0.530091  0.464857  1.000000

In [25]:
acoes_19_semana = Cart_2_etf('SPY','XLF','2021-12-13','2021-12-18')


pesos = np.array([0.4347, 0.4779])

#calculo do retorno acumulado na semana
retorno_semana = np.dot(acoes_19_semana.calcular_retorno(), pesos)

#calculo da covariança e correlacao

matrix_covarianca = acoes_19_semana.calcular_cov()*5

matrix_correlacao = acoes_19_semana.calcular_corr()

port_var = np.dot(pesos.T, np.dot(matrix_covarianca, pesos))
port_vol = port_var**0.5


print("")
print(f'retorno da semana: {retorno_semana*100}%')
print("")

print("")
print(f'variança do portifolio: {port_var}')
print("")

print("")
print(f'risco do portifolio: {port_vol*100}%')
print("")


display(matrix_covarianca)

display(matrix_correlacao)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

retorno da semana: -0.5231949646045172%


variança do portifolio: 0.0004913196681456632


risco do portifolio: 2.2165731843222845%

          SPY       XLF
SPY  0.000756  0.000209
XLF  0.000209  0.001146

          SPY       XLF
SPY  1.000000  0.224123
XLF  0.224123  1.000000